* {
  margin: auto;
  padding: 0px;
  background-color: #283593;
}

body {
    margin: auto;
    background-color: #283593;
    height: 100%;
  }

div.big-container {
  margin: auto;
  padding: 70px 0;
  background-color: #283593;
  height: 100%;
}

div.footer {
  position: absolute;
  text-align: center;
  font-size: 8px;
}

div.social-container {
  display: table;
  margin: 0 auto;
  background-color: #5f5fc4;
  border-radius: 8px;
  padding: 8px;
}

div.bio-container{
  padding: 14px;
  margin-bottom: 8px;
}

div.picture-holder {
  padding: 2px;
  align-content: center;
}

h2 {
    color: #e0e0d1;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 16px;
    text-align: center;
    color: white;
}

p.license {
  font-size: 9px;
  text-align: center;
  bottom: 0px;
  color: inherit;
}

p.image-desc {
  font-size: 12px;
  text-align: center;
  bottom: 0px;
  color: #e6fffa;
}

a {
  color: #e6ffff;
}

img.selfie {
    display: block;
    margin: auto;
    border-radius: 5px;
}

ul {
  margin: auto;
  list-style: none;
}

ul img {
  padding: 6px;
  display: inline;
  margin-left: auto;
  margin-right: auto
}

li {
  float: left;
}
